Category of type {{trash.category.name}}, this {{trash.title}} is of price {{trash.price}} is
available by arrangement through {{trash.author}}.
<br>
<p><img src={{trash.image}} alt={{trash.title}}></p>

<button {{action 'delete' trash}}>Delete</button>
